p {
    background-color : rgb(247, 119, 236);
    font-family: Verdana ,"DejaVu Sans", sans-serif;
}
.two {
    color: blue;
    font-size: 36px;
}
.four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
p.three {
    font-size: 24px;
}